<ion-header>

  <ion-navbar>
    <ion-title>List of Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>

  <div *ngIf="!customer && !showCreateNewItem" class="login-button">
    <button ion-button round (click)="toggleShowCreateItem()" class="button-main"><strong>Toggle Create New Item</strong></button>
  </div>

  <div *ngIf="showCreateNewItem">
    <ion-card color="grey">
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price: </ion-label>
        <ion-input [(ngModel)]="price"></ion-input>
      </ion-item>
    </ion-card>
    <div class="login-button">
      <button ion-button round (click)="saveNewItem()" class="button-main"><strong>Add new Item</strong></button>
    </div>
    <div class="login-button">
      <button ion-button round (click)="toggleShowCreateItem()" class="button-main"><strong>Cancel</strong></button>
    </div>
  </div>


  <ion-card *ngFor="let item of allItems | async">

    <ion-card-title>Item: {{item.payload.val().name}}</ion-card-title>
    <ion-card-content>Price: {{item.payload.val().price}}</ion-card-content>
    <button color="danger" ion-button icon-left clear small float-right (click)=deleteItem(item.key)>Delete</button>
  </ion-card>

</ion-content>